 <!-- Navbar -->
 <div class="wrapper">

 
  <nav class="main-header navbar layout-navbar-fixed navbar-expand-md navbar-light navbar-white">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <span class="brand-text font-weight-light">AAR</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">

          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="/feeds/" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="/blog/" class="nav-link">blog</a>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a href="/blog/" class="nav-link">Home</a>
          </li>
          {% endif %}
          
          
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
           
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">{{request.user.username}}</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="/profile/{{request.user}}" class="dropdown-item">Profile</a></li>
              <li><a href="/accounts/logout" class="dropdown-item">logout</a></li>
            </ul>
          </li>  
        {% else %} 
        <li class="nav-item dropdown">
           
          <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Unknown</a>
    
     </li>  
          {% endif %}
        </ul>

      


           
         

        <!-- SEARCH FORM -->
        <div>
           <form class="form-inline ml-0 ml-md-3" method="POST" id="search_form">
          {% csrf_token %}
          <div class="input-group input-group-sm search-container">
            <input class="form-control form-control-navbar" name="search" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>

            <div class="search-input" id="search-input">
  
            </div>
            
          </div>
          
        </form>
       
        </div>
       
      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
     
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item">
          <a class="nav-link" data-widget="dropdown" data-toggle=""  data-slide="true" href="/chat/">
           <i class="fas fa-envelope mr-2"></i> 
           <!-- <span class="badge badge-danger navbar-badge">15</span> -->
          </a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link"  href="/accounts/logout">
            logout
          </a>
        </li>
        {% else %}
          
        
        <li class="nav-item">
          <a class="nav-link"  href="/accounts/login">
            login
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

</div>





