{% extends 'pages/blog/base.html' %}
{% load static %}
{% block content %}
<style>
    body,
    html {
        height: 100%;
        margin: 0;
        background: #fff;
     
    }

    .chat {
        margin-top: auto;
        margin-bottom: auto;
    }

    .card {
        height: 500px;
        border-radius: 15px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
    }

    .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }

    .msg_card_body {
        overflow-y: auto;
    }

    .card-header {
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }

    .card-footer {
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }

    .container {
        align-content: center;
    }

    .search {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
    }

    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .type_msg {
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        height: 60px !important;
        overflow-y: auto;
        width: 100% !important;
    }

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .attach_btn {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .send_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .search_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .contacts {
        list-style: none;
        padding: 0;
    }

    .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

    .active {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .user_img {
        height: 30px;
        width: 30px;
        border: 1.5px solid #f5f6fa;

    }

    .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;

    }

    .img_cont {
        position: relative;
        height: 70px;
        width: 70px;
    }

    .img_cont_msg {
        height: 40px;
        width: 40px;
    }

    .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border: 1.5px solid white;
    }

    .offline {
        background-color: #c23616 !important;
    }

    .user_info {
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: 15px;
    }

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
    }

    .video_cam {
        margin-left: 50px;
        margin-top: 5px;
    }

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

    .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 25px;
        background-color: #82ccdd;
        padding: 10px;
        position: relative;
    }

    .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        border-radius: 25px;
        background-color: #78e08f;
        padding: 10px;
        position: relative;
    }

    .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
    }

    .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
    }

    .msg_head {
        position: relative;
    }

    #action_menu_btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .action_menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
    }

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .action_menu ul li {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 5px;
    }

    .action_menu ul li i {
        padding-right: 10px;

    }

    .action_menu ul li:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }

    @media(max-width: 576px) {
        .contacts_card {
            margin-bottom: 15px !important;
        }
    }
</style>

<div class="container-fluid h-100 mt-5 pt-4">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
                <div class="card-header">
                    <div class="input-group">
                        <input type="text" placeholder="Search..." name="" class="form-control search">
                        <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="card-body contacts_body">
                    <ui class="contacts">
                        {% for user in others %}
                        <a style="text-decoration: none; color: white;" href="/chat/{{user}}">
                            <li class="">
                                <div class="d-flex bd-highlight">
                                    <div class="img_con">
                                        <img src="/{{user.profile_img}}"
                                class="rounded-circle user_img" width="30px">
                                        <!-- <span class="online_icon"></span> -->
                                    </div>
                                    <div class="">
                                        <span style="margin-left: 5px;">{{user}}</span>
                                        <!-- <p>Kalid is online</p> -->
                                    </div>
                                </div>
                            </li>
                        </a>
                        {% endfor %}
                    </ui>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="/{{other_user.profile.profile_img}}"
                                class="rounded-circle user_img" width="30px">
                            <!-- <span class="online_icon"></span> -->
                        </div>
                        <div class="">
                            <span style="color: white; margin-left: 2px;">Chat with {{other_user}}</span>
                            <!-- <p>1767 Messages</p> -->
                        </div>
                        <!-- <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div> -->
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><a href="/profile/{{other_user}}" style="color: wheat;"><i class="fas fa-user-circle"></i> View profile</a></li>
                            <!-- <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li> -->
                        </ul>
                    </div>
                </div>
                <div class="card-body msg_card_body mb-3" id="message-list">

                </div>
                <div class="card-footer">


                    <form method="POST" id="form-submit">
                        {% csrf_token %}
                        <textarea name="message" class="form-control type_msg" placeholder="Type your message..."
                            style="width: 100%;"></textarea>
                        {% if request.user %}
                        <input type="hidden" name="receiver" value={{other_user.id}}>
                        {% endif %}
                        <input type="hidden" name="sender" value={{user.pk}}>
                        <button type="submit" class="btn btn-primary mt-2 btn-sm" style="float: right;">send</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
    $('#action_menu_btn').click(function(){
        $('.action_menu').toggle();
    });
    });


    const chatFormDiv = document.getElementById("form-submit")
    const messageList = document.getElementById("message-list")

    function MessageElementDiv(message) {
        return ` <div style="margin-bottom: 30px" class="d-flex mb-4 ${message.sender.username === message.user ? `justify-content-start"` : `justify-content-end"`} ">
                            <div class="${message.sender.username === message.user ? `msg_cotainer_send"` : `msg_cotainer"`}">
                                ${message.message}
                                <span style="margin-top:20px" class="${message.sender.username === message.user ? `msg_time_send"` : `msg_time"`}">8:40 AM</span>
                            </div>
                        </div>
                    `
    }

    function loadMessageChat() {
        const xhr = new XMLHttpRequest()
        const method = "GET"
        const url = "/api/chat/{{other_user}}/"
        xhr.responseType = "json"
        xhr.open(method, url)
        xhr.onload = function () {
            message_list = xhr.response
            let finalMessage = ""
            for (let i = 0; i < message_list.length; i++) {
                const msg_obj = message_list[i]
                const currentMessage = MessageElementDiv(msg_obj)
                finalMessage += currentMessage
            }
            messageList.innerHTML = finalMessage
        }
        xhr.send()
    }
    // loadMessageChat()

    setInterval(loadMessageChat, 500)

    chatFormDiv.addEventListener("submit", function (e) {
        e.preventDefault()
        const myform = e.target;
        const formdata = new FormData(myform)
        const xhr = new XMLHttpRequest()
        const method = "POST"
        const url = "/api/chat/create/"
        xhr.responseType = "json"
        xhr.open(method, url)
        xhr.onload = function () {
            console.log(xhr.response)
            loadMessageChat()
            myform.reset()

        }
        xhr.send(formdata)
    })
</script>
{% endblock content %}

<!-- <div><li class="${message.sender === message.user ? `right"` : `left"`}><div class="content">${message.message}</div></li></div> -->