<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">Alex</h1>
                <span class="footer__subtitle">Front developer</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#services" class="footer__link">Services</a>
                </li>
                <li>
                    <a href="#portifolio" class="footer__link">Portfolio</a>
                </li>
                <li>
                    <a href="#contact" class="footer__link">Contac Me</a>
                </li>

            </ul>

            <div class="footer__socials">
                <a href="" class="footer__social">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="" class="footer__social">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" class="footer__social">
                    <i class="fa fa-twitter"></i>
                </a>

            </div>
        </div>
        <p class="footer__copy">&#169; VAAR. All right reserved</p>
    </div>

</footer>