<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">Abel</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <i class="fa fa-home nav__icon" aria-hidden="true"></i> Home
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <i class="fa fa-user nav__icon" aria-hidden="true"></i> About
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <i class="fa fa-file nav__icon" aria-hidden="true"></i> Skills
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link">
                        <i class="fa fa-briefcase nav__icon" aria-hidden="true"></i> Services
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#portifolio" class="nav__link">
                        <i class="fa fa-picture-o nav__icon" aria-hidden="true"></i> Portifolio
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#blog" class="nav__link">
                        <i class="fa fa-paper-plane-o nav__icon" aria-hidden="true"></i> Blog
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contact" class="nav__link">
                        <i class="fa fa-paper-plane-o nav__icon" aria-hidden="true"></i> Contact Me
                    </a>
                </li>
                <i class="fa fa-times nav__close" id="nav-close" aria-hidden="true"></i>
            </ul>
        </div>

        <div class="nav__btns">
            <!-- Theme change -->
            <i class="fa fa-moon-o change-theme fa" id="theme-button"></i>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
    </nav>
</header>